*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #15181C;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 30px 20px; */
}
.navbar{
    display: none;
}

.main{
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh;
    gap:20px ;
}
.leftNav{
    position: sticky;
    top: 0;
    margin-left: 2vw;
    width:20vw;
    border: 2px solid  #6E767D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    background-color: #1E1F24;
    padding: 20px;
    border-radius: 10px;
}
.menuItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: #6E767D;
}
.brandLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vh;
    margin: 10px;
    color: #0f527c;
    border: 2px solid #0c3c5a;
    border-radius: 10%;
    padding: 10px;
}

.rightNav{
    width:40vw;
    height:50vh;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    position: sticky;
    top: 0;
    height: 60vh;
    border : 2px solid #6E767D;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;}
.rightNav h1{
    color: white;
}
.rightNav form input{
    width: 20vw;
    border: 1px solid #6E767D;
    border-radius: 5px;
    background-color: #1E1F24;
    color: #6E767D;
    margin-bottom: 10px;
    height: 7vh;

}
.rightNav form input::placeholder{
    color: #6E767D;
}
.rightNav form button{
    height: 5vh;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 5vh;
}
.persons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 5vh;
    color: #6E767D;
}

.material-symbols-outlined{
    color: #6E767D;
    font-size: 2rem;
    cursor: pointer;
}


.mainContent{
    width: 40vw;
}

.card-custom{
    width: 40vw !important;
    background-color: #15181C;
    color: white;
    margin-top: 5vh;
}
.img-custom{
    height: 40vh;
    object-fit: cover;
}
.card-header{
    background-color: #1E1F24;
    color: white;
    border-bottom: 1px solid #6E767D;
    display: flex;
    align-items: center;
    gap: 1vh;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header{
    background-color: #1E1F24;
    color: white;
    border-bottom: 1px solid #6E767D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
}

.call-to-action{
    margin-top: 3vh;
    display: flex;
    gap: 20px;
    align-items: center;
}






@media screen and (max-width: 412px) {
    .navbar{
        display: contents;
    }

.navbar-custom {
    background-color:#1E1F24 !important;
    color: white;
}
.brand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
}
.material-symbols-outlined{
    color: #6E767D;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-brand{
    color: #6E767D;
}
.navbar-toggler-custom{
    border: 2px solid #6E767D !important;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    
}
.material-symbols-outlined{
    color: #6E767D !important;
}
.nav-link{
    color: #6E767D !important;
}
.nav-item{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3vh;
}
.offcanvas-custom{
    color: white;
    background-color: #15181C;
}
.accounts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}
.btn-close-custom{
    color: #6E767D !important;
    background-color: #6E767D;
}
.form-control{
    background-color: #1E1F24 !important;
    border: 1px solid #6E767D !important;
    color: #6E767D !important;
}
.form-control::placeholder{
    color: #6E767D !important;
}
.leftNav{
    display: none;
}
.rightNav{
    display: none;
}
.mainContent{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* border: 2px solid green; */
}
.card-custom{
    background-color: #15181C;
    color: white;
    margin-top: 5vh;
    width: 90% !important;
    margin: 0 auto;
    margin-top: 5vh;

}
.card-header{
    background-color: #1E1F24;
    color: white;
    border-bottom: 1px solid #6E767D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
}
.card-body{
    border: 1px solid #6E767D;
    border-radius: 20px 20px 0px 0px;
}
.img-custom{
    height: 20vh;
    object-fit: cover;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.call-to-action{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

}