* {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  background-color: #15181c !important;
}

.body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 30px 20px; */
}
.navbar {
  display: none;
}

.main {
  margin: 20px;
  margin-top: 5vh;
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  align-items: flex-start;
  width: 95vw;
}

.sideNav {
  position: sticky;
  top: 0;
  margin-left: 2vw;
  width: 20vw;
  border: 2px solid #6e767d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  background-color: #1e1f24;
  padding: 20px;
  border-radius: 10px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: white;
}
.brandLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 10px;
  border-radius: 10%;
  padding: 10px;
  background-color: black;
  color: white;
}

.mainContent {
  margin-top: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;

  /* border: 2px solid green; */
}

.card-custom {
  background-color: #15181c;
  color: white;
  margin-top: 5vh;
  width: 45vw !important;
  padding: 20px;
  border-radius: 10px;
}

.img-custom {
  height: 30vh;
  object-fit: cover;
}

.call-to-action {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  height: 10vh;
}
.card-body {
  border: 1px solid #6e767d;
  border-radius: 20px 20px 0px 0px;
  height: 15vh;
}
.buy {
  width: 70%;
  height: 8vh;
}
.contact-seller {
  width: 70%;
  height: 8vh;
}
.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.profileSection {
  display: none;
}
.profileDetails {
  display: none;
}

/* Styles for the alert box container */
.container {
  position: relative;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}
.chat-header > h1 {
  color: white;
  font-size: 2rem;
}

/* Styles for the alert box */
.alert-box {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #15181c;
  color: black;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(221, 219, 219, 0.5);
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
.message {
  color: #37423d;
}
/* Styles for the close button */
.close-btn {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

/* Keyframe animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.chat-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50vw;
  border: 1px solid #6e767d;
  padding: 15px;
}
.comm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50vw;
  border: 1px solid #6e767d;
  padding: 15px;
}
.input {
  color: white !important;
}

.chat-area form input {
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: 40vw;
  height: 8vh;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #e0e1dd;
  color: white;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid #6e767d;
}
.chat-area form input::placeholder {
  color: #6e767d;
}

.material-symbols-outlined {
  color: #6e767d;
  font-size: 2rem;
  cursor: pointer;
}

.sent {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4vw;

  /* border: 2px solid green; */
}
.recieved {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4vh;

  /* border: 2px solid red; */
}

.card-custom {
  background-color: #15181c;
  color: white;
  margin-top: 5vh;
  width: 20vw !important;
  /* border: 1px solid #6E767D; */
}

.card-body {
  border: 1px solid #6e767d;
  background-color: #27292f;
  height: 30vh;
  width: 20vw;
  border-radius: 20px 20px 0px 0px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 412px) {
  .navbar {
    display: contents;
  }
  .navbar-custom {
    background-color: #1e1f24 !important;
    color: white;
  }
  .brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
  }
  .material-symbols-outlined {
    color: #6e767d;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar-brand {
    color: #6e767d;
  }
  .navbar-toggler-custom {
    border: 2px solid #6e767d !important;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
  }
  .material-symbols-outlined {
    color: #6e767d !important;
  }
  .nav-link {
    color: white !important;
    padding: 10px;
  }
  .nav-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3vh;
  }

  .chat-area form input {
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 60vw;
    height: 5vh;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    color: #6e767d;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #6e767d;
  }
  .form-control {
    background-color: #1e1f24 !important;
    border: 1px solid #6e767d !important;
    color: #6e767d !important;
  }
  .form-control::placeholder {
    color: #6e767d !important;
  }
  .sideNav {
    display: none;
  }
  .mainContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    /* border: 2px solid green; */
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    gap: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    border: none;
  }
  .sent {
    margin-bottom: 15vh;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recieved {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-custom {
    background-color: #15181c;
    color: white;
    margin-top: 5vh;
    width: 100% !important;
    /* border: 1px solid #6E767D; */
  }
  .card-header {
    background-color: #1e1f24;
    color: white;
    border-bottom: 1px solid #6e767d;
    display: flex;
    align-items: center;
    gap: 1vh;
  }
  .card-body {
    border: 1px solid #6e767d;
    height: 30vh;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .img-custom {
    height: 20vh;
    object-fit: cover;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    /* gap: 20px */
    align-items: center;
  }
}
