* {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.body {
  background-color: #15181c;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 30px 20px; */
}
.navbar {
  display: none;
}

.main {
  display: flex;
  width: 95vw;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5vh;
  gap: 20px;
}
.leftNav {
  position: sticky;
  top: 0;
  margin-left: 2vw;
  width: 20vw;
  /* border: 2px solid  #6E767D; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  background-color: #1e1f24;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(2, 102, 102, 0.7),
    1px 2px 4px 0px rgba(2, 104, 104, 0.7),
    2px 4px 8px 0px rgba(4, 134, 134, 0.7),
    2px 4px 16px 0px rgba(6, 119, 119, 0.7);
}
.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: white;
}
.brandLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 10px;
  border-radius: 10%;
  padding: 10px;
  background-color: black;
  color: white;
}

.modal-custom {
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.modal-custom form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.modal-custom textarea {
  padding: 20px;
}
.rightNav {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  position: sticky;
  top: 0;
  /* border : 2px solid #6E767D; */
  border-radius: 10px;
  overflow-y: scroll;
  background-color: #1e1f24;
  overflow-x: hidden;
  box-shadow: 0px 1px 2px 0px rgba(2, 102, 102, 0.7),
    1px 2px 4px 0px rgba(2, 104, 104, 0.7),
    2px 4px 8px 0px rgba(4, 134, 134, 0.7),
    2px 4px 16px 0px rgba(6, 119, 119, 0.7);
}

.rightNav form input {
  width: 20vw;
  border: 1px solid #6e767d;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-bottom: 10px;
  height: 7vh;
}
.rightNav form input::placeholder {
  color: #6e767d;
}
.rightNav form button {
  height: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  margin-top: 5vh;
  color: white;
}
.persons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 5vh;
  color: white;
}

.material-symbols-outlined {
  color: #6e767d;
  font-size: 2rem;
  cursor: pointer;
}

.mainContent {
  width: 40vw;
}

.card-custom {
  width: 40vw !important;
  background-color: #15181c;
  color: white;
  margin-top: 5vh;
}
.img-custom {
  height: 40vh;
  object-fit: cover;
}
.card-header {
  background-color: #1e1f24;
  color: white;
  border-bottom: 1px solid #6e767d;
  display: flex;
  align-items: center;
  gap: 1vh;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  /* gap: 20px */
  align-items: center;
}

.post {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 412px) {
  .navbar {
    display: contents;
  }

  .navbar-custom {
    background-color: #1e1f24 !important;
    color: white;
  }
  .brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
  }
  .material-symbols-outlined {
    color: #6e767d;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar-brand {
    color: #6e767d;
  }
  .navbar-toggler-custom {
    border: 2px solid #6e767d !important;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
  }
  .material-symbols-outlined {
    color: #6e767d !important;
  }
  .nav-link {
    color: white !important;
  }
  .nav-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3vh;
  }
  .offcanvas-custom {
    color: white;
    background-color: #15181c;
  }
  .accounts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
  }
  .btn-close-custom {
    color: #6e767d !important;
    background-color: #6e767d;
  }
  .form-control {
    background-color: #1e1f24 !important;
    border: 1px solid #6e767d !important;
    color: #6e767d !important;
  }
  .form-control::placeholder {
    color: #6e767d !important;
  }
  .leftNav {
    display: none;
  }
  .rightNav {
    display: none;
  }
  .mainContent {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid green; */
  }
  .card-custom {
    background-color: #15181c;
    color: white;
    margin-top: 5vh;
    width: 90% !important;
    margin: 0 auto;
    margin-top: 5vh;
  }
  .card-header {
    background-color: #1e1f24;
    color: white;
    border-bottom: 1px solid #6e767d;
    display: flex;
    align-items: center;
    gap: 1vh;
  }
  .card-body {
    border: 1px solid #6e767d;
    border-radius: 20px 20px 0px 0px;
  }
  .img-custom {
    height: 20vh;
    object-fit: cover;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    /* gap: 20px */
    align-items: center;
  }
}
