* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #17181c;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid green; */
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  border-radius: 10.264px;
  border: 0.513px solid black;
  background: #6e767d;
  width: 40vw;
  font-size: 18px;
  padding: 10px 20px;
  height: 8vh;
  font-weight: 500;
  font-size: 1.2rem;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 95%;
  /* border: 2px solid white; */
  gap: 2rem;
  padding: 30px 20px;
}
.brand {
  width: 50%;
  /* border: 1px solid white; */
}
.brand img {
  width: 40vw;
  height: 60vh;
  object-fit: contain;
}
.registerForm {
  height: 80vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  background-color: #1e1f24;
  gap: 1rem;
  box-shadow: 0px 1px 2px 0px rgba(2, 102, 102, 0.7),
    1px 2px 4px 0px rgba(2, 104, 104, 0.7),
    2px 4px 8px 0px rgba(4, 134, 134, 0.7),
    2px 4px 16px 0px rgba(6, 119, 119, 0.7);
}
.homeLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
}
.material-symbols-outlined {
  color: #6e767d;
  font-size: 2rem;
  cursor: pointer;
}
.homeText {
  color: #6e767d;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}
.registerForm input {
  color: white;
  border-radius: 10.264px;
  border: 0.513px solid #6e767d;
  background: #27292f;
  width: 40vw;
  font-size: 18px;
  padding: 10px 20px;
  height: 10vh;
}
.registerForm button {
  width: 20vw;
  border-radius: 10.264px;
  border: 0.513px solid #1da1f2;
  background: #27292f;
  height: 8vh;
  color: #1da1f2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.registerForm button:hover {
  background-color: #1da1f2;
  color: white;
  border: white;
}

.statement {
  color: white;
}
.link {
  text-decoration: none;
  color: #1da1f2;
}

/* Sumsung Galaxy Note 20 */
@media screen and (max-width: 412px) {
  .brand {
    display: none;
  }
  .registerForm {
    width: 100%;
    height: 60vh;
    border-radius: 20px;
  }
  .registerForm input {
    width: 70vw;
    height: 6vh;
  }
  .registerForm button {
    width: 70vw;
    height: 6vh;
  }
}
