*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #15181C;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 30px 20px; */
}
.navbar{
    display: none;
}

.main{
    margin: 20px;
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: flex-start;
    width: 95vw;
}

.sideNav{
    position: sticky;
    top: 0;
    margin-left: 2vw;  
    width:20vw;
    border: 2px solid  #6E767D;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    background-color: #1E1F24;
    padding: 20px;
    border-radius: 10px;  
}

.menuItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: #6E767D;
}
.brandLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vh;
    margin: 10px;
    color: #0f527c;
    border: 2px solid #0c3c5a;
    border-radius: 10%;
    padding: 10px;
}

.mainContent{
    margin-top: 5vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    /* border: 2px solid green; */
}

.card-custom{
    background-color: #15181C;
    color: white;
    margin-top: 5vh;
    width: 45vw !important;
    padding: 20px;
    border-radius: 10px;
    
}

.img-custom{
    height:30vh;
    object-fit: cover;
}

.call-to-action{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.priceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    height: 10vh;

}
.card-body{
    border: 1px solid #6E767D;
    border-radius: 20px 20px 0px 0px;
    height: 15vh;
}
.buy{
    width: 70%;
    height: 8vh;

}
.contact-seller{
    width: 70%;
    height: 8vh;

}
.card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}











@media screen and (max-width: 412px) {
    .navbar{
        display: contents;
    }
    .sideNav{
        display: none;
    }

.navbar-custom {
    background-color:#1E1F24 !important;
    color: white;
}
.brand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
}
.material-symbols-outlined{
    color: #6E767D;
    font-size: 2rem;
    cursor: pointer;
}

.navbar-brand{
    color: #6E767D;
}
.navbar-toggler-custom{
    border: 2px solid #6E767D !important;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    
}
.material-symbols-outlined{
    color: #6E767D !important;
}
.nav-link{
    color: white !important;
    padding: 10px;
}
.nav-item{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3vh;
}
.form-control{
    background-color: #1E1F24 !important;
    border: 1px solid #6E767D !important;
    color: #6E767D !important;
}
.form-control::placeholder{
    color: #6E767D !important;
}
.sideNav{
    display: none;
}
.mainContent{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* border: 2px solid green; */
}
.card-custom{
    background-color: #15181C;
    color: white;
    margin-top: 5vh;
    width: 90% !important;
}
.card-header{
    background-color: #1E1F24;
    color: white;
    border-bottom: 1px solid #6E767D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
}
.priceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    height: 10vh;

}
.card-body{
    border: 1px solid #6E767D;
    border-radius: 20px 20px 0px 0px;
}
.call-to-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.buy{
    margin-top: 2vh;
    width:100%;
    height: 5vh;
}
.contact-seller{
    width: 100%;
    height: 5vh;
}
.img-custom{
    height: 20vh;
    object-fit: cover;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions{
    display: flex;
    /* gap: 20px */
    align-items: center;
}

}