* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #15181c;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 30px 20px; */
}
.navbar {
  display: none;
}

.main {
  margin: 20px;
  margin-top: 5vh;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: flex-start;
  width: 95vw;
}

.sideNav {
  position: sticky;
  top: 0;
  margin-left: 2vw;
  width: 20vw;
  border: 2px solid #6e767d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  background-color: #1e1f24;
  padding: 20px;
  border-radius: 10px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: white;
}
.brandLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  margin: 10px;
  border-radius: 10%;
  padding: 10px;
  background-color: black;
  color: white;
}

.mainContent {
  margin-top: 5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  /* border: 2px solid green; */
}

.card-custom {
  background-color: #15181c;
  color: white;
  margin-top: 5vh;
  width: 45vw !important;
}

.img-custom {
  height: 30vh;
  object-fit: cover;
}
.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.card-footer {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.recieved .card-custom {
  background-color: #15181c;
  color: white;
  margin-top: 5vh;
  width: 15vw !important;
  border-radius: 20px 20px 20px 0px;
}

.sent .card-custom {
  background-color: #15181c;
  color: white;
  margin-top: 5vh;
  width: 15vw !important;
  border-radius: 20px 20px 20px 0px;
}

@media screen and (max-width: 412px) {
  .navbar {
    display: contents;
  }
  .sideNav {
    display: none;
  }

  .navbar-custom {
    background-color: #1e1f24 !important;
    color: white;
  }
  .brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
  }
  .material-symbols-outlined {
    color: #6e767d;
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar-brand {
    color: #6e767d;
  }
  .navbar-toggler-custom {
    border: 2px solid #6e767d !important;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
  }
  .material-symbols-outlined {
    color: #6e767d !important;
  }
  .nav-link {
    color: white !important;
    padding: 10px;
  }
  .nav-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 3vh;
  }
  .form-control {
    background-color: #1e1f24 !important;
    border: 1px solid #6e767d !important;
    color: #6e767d !important;
  }
  .form-control::placeholder {
    color: #6e767d !important;
  }
  .sideNav {
    display: none;
  }
  .mainContent {
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid green; */
  }
  .card-custom {
    background-color: #15181c;
    color: white;
    margin-top: 5vh;
    width: 90% !important;
  }

  .recieved .card-custom {
    background-color: #15181c;
    color: white;
    margin-top: 5vh;
    width: 90% !important;
    border-radius: 20px 20px 20px 0px;
  }

  .sent .card-custom {
    background-color: #15181c;
    color: white;
    margin-top: 5vh;
    width: 90% !important;
    border-radius: 20px 20px 20px 0px;
  }
  .card-header {
    background-color: #1e1f24;
    color: white;
    border-bottom: 1px solid #6e767d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
  }
  .price {
    margin-top: 3vh;
    color: #6e767d;
  }
  .card-body {
    border: 1px solid #6e767d;
    border-radius: 20px 20px 0px 0px;
  }
  .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }
  .buy {
    margin-top: 2vh;
    width: 100%;
    height: 5vh;
  }
  .contact-seller {
    width: 100%;
    height: 5vh;
  }
  .img-custom {
    height: 20vh;
    object-fit: cover;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    /* gap: 20px */
    align-items: center;
  }
}
